@model OfficePass.Domain.Entities.Specialization
<div class="modal-content">
    <div class="modal-header">
        <h4>Информация о должности</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Название должности:</dt>
            <dd>@Html.DisplayFor(model => model.Name)</dd>

            <dt>Описание</dt>
            <dd>@Html.DisplayFor(model => model.Description)</dd>
        </dl>
    </div>
</div>