@model OfficePass.Areas.Adminka.Models.SpecializationViewModel
@{
    ViewData["Title"] = "Должность";
}

<style>
    table {
        width: 100%; /* Ширина таблицы */
    }

    td {
        padding: 20px; /* Поля в ячейках */
        vertical-align: top; /* Выравнивание по верхнему краю ячеек */
    }
</style>
<div id="message">
    <span style="color:brown">@ViewData["Error"]</span>
    <h1 class="header-text-top">Редактирование должности</h1>
</div>
<div id="left_menu">
    <ul class="nav">
        <li><a asp-action="Index" asp-controller="UserProfile">Сотрудники</a></li>
        <li><a asp-action="Index" asp-controller="Group">Подразделения</a></li>
        <li><a asp-action="Index" asp-controller="Specialization">Должности</a></li>
    </ul>
</div>

<div id="content">
<hr />
<div>
        <div class="form">
            <form method="post" asp-route-id="@Model.Id" asp-area="Adminka" asp-action="EditSpecialization" asp-controller="Specialization">
                <div asp-validation-summary="All"></div>
                <table class="table">
                    <tr style="vertical-align:top">
                        <td>
                            <p>
                                <label asp-for="Name"></label><br />
                                <input asp-for="Name" />
                            </p>
                            <p>
                                <label asp-for="Description"></label><br />
                                <input asp-for="Description" />
                            </p>
                        </td>
                    </tr>
                </table>
                
                <p style="padding: 20px">
                    <input type="submit" value="Сохранить" />
                    <input type='button' asp-area="Adminka" value='Отменить' onclick='window.location = "@Url.Action("Index","Specialization") ";' />
                </p>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}