html {
    font-size: 14px;
}

@media (min-width: 1600px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

:root {
    --bs-dark-rgb: 44, 74, 81;
}

.table {
    border-left: 3px solid #b2b2b2;
}

div.container {
    max-width: 1400px;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 2.5rem;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #017d9c;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.7);
}

    .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
        color: #017d9c;
    }

.header-text-top {
    color: #008eb1;
    font-size: 2rem;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: #41abc5;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.text-dark {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

footer {
    margin-top: 10px;
}

.user-name-header {
    font-size: 1rem;
    font-style: italic;
    color: #017d9c;
    margin-right: 1rem;
}

ul.nav {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

    ul.nav a {
        display: block;
        width: 11em;
        padding: 10px;
        background-color: #f7fbfd;
        border-top: 1px dashed #016582;
        border-right: 1px dashed #016582;
        border-left: 5px solid #b2b2b2;
        text-decoration: none;
        color: #333;
    }

    ul.nav li:last-child a {
        border-bottom: 1px dashed #333;
    }

    ul.nav a:hover {
        background-color: #e0eef7;
        color: #016582;
    }

#message {
}

#left_menu {
    margin-top: 18px;
    float: left;
    width: 150px;
}

#content {
    max-height: 500px;
    overflow: auto;
    margin-left: 170px;
}

#bottom_menu {
    max-height: 70px;
}

main.pb-3 {
    margin-top: 0px;
    margin-bottom: 50px;
}
