<h2>@ViewData["Error"]</h2>
<h1 class="header-text-top">Тестовая страница</h1>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Заголовок 1
            </th>
            <th>
                Заголовок 2
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                ячейка 1
            </td>
            <td>
                ячейка 2
            </td>
            <td>
                <a asp-action="TestStart" asp-controller="Test" asp-route-id="1">Старт тест</a> 
            </td>
        </tr>
    </tbody>
</table>
